$primaryBtn:#05DEBA;
$secondaryBtn:#4D515B;

@mixin display1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 3.33vw;
    line-height: 3.75vw;
    letter-spacing: -2;
}



*{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
  }
  .homePageParent{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }
  .NavbarWrapper{
    height: 110px;
    width:100%;
    box-sizing: border-box;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    padding: 22px 64px 24px 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .tekionLogo{
      width: 12vw;
      min-width: 160px;
    }
  .NavbarLinksWrapper{
    display: flex;
    width: 560px;
    height: 21px;
    justify-content: center;
    align-items: center;
  }
  .NavbarLinksWrapper a{
      margin-right: 1.25vw;
      margin-left: 1.25vw;
    font-family: 'Inter', sans-serif;
    // font-size: clamp(12px, 0.83vw, 16px);
    font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.5px;
  text-align: left;
  color: #4D515B;
  }
 
  .buttonWrappergrey{
  
    height: 46px;
    width: 224px;
    min-width: 170px;
    background-color: $secondaryBtn;
    border-radius: 23px;
    padding :16px 1.5vw 16px 1.5vw;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    // font-size: clamp(12px,0.73vw, 14px);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    text-align: center;
    color: #fff;
  }
  .buttonWrapperteal{
    height: 46px;
    width: 224px;
    min-width: 170px;
    background-color:  $primaryBtn;
    border-radius: 23px;
    padding :16px 1.5vw 16px 1.5vw;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: clamp(12px,0.73vw, 14px);
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    text-align: center;
    color: #15161F;
    margin-top: 48px;
   
  }
  .Herotext{
@include display1();
  text-align: center;
  color: #2F313C;
  }
  .BodyContent{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }